@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 100%;
}
body{
  color: #383e45;
  font-size: 0.9rem;
}
img {
  max-width: 100%;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

.section-title{
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 60px;
  border-bottom: solid 1px #383e45;
}

.content-title{
  font-size: 1rem;
  margin: 10px 0;
}

.wrapper{
  max-width: 960px;
  margin: 0 auto 100px;
  padding: 0 4%;
  text-align: center;
}

.container{
  max-width: 960px;
  padding: 0 4%;
  text-align: center;
}



/*ヘッダー*/

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
header ul{
  display: flex;
  padding: 10px 0;
  list-style: none;
}

header li{
  margin-left: 30px;
}

header li a{
  color: #24292e;
}

header li a:hover{
  opacity: 0.7;
}

.header-title{
line-height: 1;
padding: 10px 0;
}

/*mainvisual*/
#mainvisual{
  margin-bottom: 80px;
}

#mainvisual img{
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover;
}

/*about*/
#about .content{
  display: flex;
  justify-content: center;
  align-items: center;
}

 #about img{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   margin-right: 30px;
}

#about .text{
  text-align: left;
}

/*bicycle*/
#bicycle ul{
  display: flex;
  justify-content: space-between;
  
}

#bicycle li{
  width: 32%;
}


/*footer*/

#footer{
  text-align: center;
}


/*sp*/
@media screen and (max-width: 600px){

  /*mainvisual*/

  #mainvisual img{
    height: calc(100vh - 60px);
  }

  /*about*/

  #about .content{
    flex-direction: column;
  }

  #about img{
    margin-right: 0;
  }

  /*bicycle*/

  #bicycle ul{
    flex-direction: column;
  }
  #bicycle li{
    width: 100%;
    margin-bottom: 30px;
  }

} 